{% extends "layout.html" %}

{% block title %}
    Submit a Score
{% endblock %}

{% block main %}

<h2>Submit a new score to the Records Officer</h2>

<form action="/submit" method="post">
    <div class="row mb-3">
        <div class="col">
            <select class="form-select" name="bowstyle" required>
                <option selected disabled hidden>Bowstyle</option>
                {% for bowstyle in bowstyles %}
                    <option value="{{ bowstyle[0] }}">{{ bowstyle[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select class="form-select" name="sex" required>
                <option selected disabled hidden>Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <select class="form-select mx-auto w-auto" name="round" required>
                <option selected disabled hidden>Round Name</option>
                {% for round in rounds.values() %}
                    <option value="{{ round.name }}">{{ round.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
            <select class="form-select mx-auto w-auto" name="event_type" required>
                <option selected disabled hidden>Event Type</option>
                {% for event_type in event_types %}
                    <option value="{{ event_type[0] }}">{{ event_type[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="date" id="date_shot" name="date_shot" class="form-control" required>
        </div>

        <div class="col">
            
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit Score</button>
</form>

{% endblock %}